@model List<Vnr_Intership_Solution.Models.Entities.SubjectDefinition>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vnr_Intership_Solution.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table-custom.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <h1>
        <span>
            <button class="btn btn-link" style="padding: 0;" onclick="goBack()">
                <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem; color: black;"></i>
            </button>
        </span>
        Subjects for Course
    </h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Subject Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var subject in Model)
                {
                        <tr>
                            <td>@subject.Name</td>
                            <td>@subject.Description</td>
                        </tr>
                }
        </tbody>
    </table>
    <script src="~/js/subject.js" asp-append-version="true"></script>
</body>

</html>